@media screen and (max-width: 1366px) {

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.search-list::-webkit-scrollbar,
.game-detail.game-detail-s::-webkit-scrollbar {
  width: 0px;
}

@font-face {
  font-family: poppins-l;
  src: url(fonts/Poppins-Light.ttf);
  font-weight: light;
}

@font-face {
  font-family: poppins-r;
  src: url(fonts/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: poppins-b;
  src: url(fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

/** Keyframes **/

@keyframes onload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(350deg);
    box-shadow: 0px 0px 2px black;
  }
  100% {
    transform: none;
    box-shadow: 0px 0px 2px black;
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(350deg);
  }
  100% {
    transform: none;
  }
}

@keyframes descend {
  0% {
    transform: translateY(-100em);
  }
  100% {
    transform: none;
  }
}

@keyframes ascend {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(-100em);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100em);
    position: fixed;
  }
  100% {
    transform: none;
    position: fixed;
  }
}

@keyframes slideToRight {
  0% {
    transform: none;
    position: fixed;
  }
  100% {
    transform: translateX(100em);
    position: fixed;
  }
}

@keyframes clicked {
  0% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

/** Hovers **/

nav .search-list button:hover {
  text-decoration: underline;
}

.report-wrapper .report-wrapper-c:hover {
  background: rgb(19, 19, 19);
}

.report-wrapper form .gName-wrapper .gNameResult:hover {
  background: rgb(14, 14, 14);
}

section .games-wrapper .boxes button:hover {
  background: linear-gradient(to bottom right, rgb(46, 46, 46), rgb(24, 24, 24), rgb(41, 41, 41));
  box-shadow: 0px 0px 2px rgb(221, 221, 221);
}

.preview-image .cols-3:nth-child(even) .preview-image-c:hover {
  background: rgba(14, 14, 14, 0.842);
}

.search-box-result .search-box-c:hover {
  background: linear-gradient(to bottom right, rgb(247, 56, 56), rgb(248, 42, 42), rgb(236, 26, 26));
}

.search-box-result .search-box-result-wrapper .boxes:hover {
  transform: translateY(-2px);
  border: 1px solid red;
}

.preview-image .cols-3:nth-child(odd) button:hover {
  background: rgb(27, 27, 27);
}

.game-detail .cols-2 .img-preview:hover {
  transform: scale(.995);
  transition: .15s ease-in-out;
  opacity: .8;
  cursor: pointer;
}
.preview-image .cols-2:nth-child(even) img:hover {
  border: 1px solid rgb(255, 0, 0);
  transition: .15s ease-in-out;
  transform: scale(.99);
  opacity: .8;
  cursor: pointer;
}

.game-detail .cols-2 button:hover {
  background: linear-gradient(to bottom right, rgb(255, 121, 121), rgb(255, 44, 44), rgb(255, 75, 75));
  cursor: pointer;
}

.game-detail .cols-2 table td a:hover {
  background: linear-gradient(to bottom right, rgb(71, 253, 71), rgb(2, 180, 2), rgb(24, 248, 24));
}

.game-detail .cols-2 table td .donate:hover {
  background: linear-gradient(to bottom right, rgb(83, 83, 252),#2f2fff,rgb(34, 34, 243));
}

footer .links .link-icons:hover {
  transform: scale(.97);
}

/* */

nav ul .a1.rotate {
  animation: rotate .5s ease-in-out 1;
}

.clicked {
  animation: clicked .1s ease-in-out 1;
}

/** Colors **/

.fgreen {
  color: rgb(53, 255, 53);
}

.fred {
  color: rgb(255, 10, 10);
}

body {
  font-family: poppins-r;
  font-size: 16px;
  background: rgb(250, 250, 250);
  letter-spacing: .8px;
  animation: onload .5s ease-in-out 1;
}

nav {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 5px rgb(158, 158, 158);
  background: white;
  padding: 0px 20px 0px 100px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .search-wrapper {
  width: 27px;
  height: auto;
  overflow: hidden;
  box-shadow: -.8px .8px 5px rgb(182, 182, 182);
  border-radius: 100px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: .5s ease-in-out;
  position: relative;
}

nav .search-wrapper.border-radius {
  border-radius: 10px 10px 0px 0px;
  background: rgba(0, 0, 0, 0.842);
  box-shadow: -.8px .8px 5px rgb(201, 201, 201);
  transition: .2s ease-in-out;
}

nav .search-wrapper.border-radius input {
  color: white;
}

nav .search-wrapper.border-radius button {
  background: url(icons/search-icon-w.png) no-repeat center;
  background-size: contain;
}

nav ul li:nth-child(1) {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav .search-list {
  position: absolute;
  top: 36px;
  left: 0;
  background: rgba(0, 0, 0, 0.842);
  max-height: 300px;
  overflow: auto;
  border-radius: 0px 0px 10px 10px;
  width: 82.5%;
  margin: 0% 8.5%;
  z-index: 1;
}

nav .search-list button {
  background: transparent;
  width: 100%;
  height: auto;
  margin: 0px auto;
  display: block;
  padding: 10px 5px;
  color: white;
  text-transform: capitalize;
}

nav .expand {
  width: 235px;
}

nav .search-wrapper input {
  position: absolute;
  border-radius: 10px 0px 0px 10px;
  margin: 0px 10px;
  opacity: 0;
}

nav .search-wrapper input.show {
  position: static;
  opacity: 1;
}

nav .search-wrapper input,
nav .search-wrapper button {
  padding: 5px;
  background: transparent;
}

nav .search-wrapper button {
  background: url(icons/search-icon.png) no-repeat center;
  background-size: contain;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  z-index: 1;
}

nav a, nav .report {
  color: inherit;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: poppins-r;
}

nav .report {
  background: transparent;
  font-size: inherit;
  cursor: pointer;
}

nav a .controller-icon {
  width: 1.05em;
  margin-right: 3px;
}

nav .report .warning-icon{
  width: .85em;
}

nav .logo {
  font-size: x-large;
  font-family: poppins-b;
  box-shadow: none;
}

nav .search-wrapper,
nav ul li a,
nav .report {
  margin: 0px 25px;
}

nav ul li .a1 {
  box-shadow: -1px 1px 3px rgb(94, 94, 94);
  border-radius: 100em;
  padding: 5px;
  display: block;
}

nav ul li .a1 button {
  background: url(icons/sun-icon.png) no-repeat center;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  display: block;
  cursor: pointer;
}

.report-wrapper {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.950);
  z-index: 1;
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.report-wrapper.report-wrapper-s {
  display: flex;
}

.report-wrapper.report-wrapper-s.descend {
  animation: descend .5s ease-in-out 1;
}

.report-wrapper.report-wrapper-s.ascend {
  animation: ascend .5s ease-in-out 1;
}

.report-wrapper .report-wrapper-c {
  position: absolute;
  right: 50px;
  top: 30px;
  font-family: poppins-b;
  padding: 10px 20px;
  border-radius: 100px;
  display: block;
  cursor: pointer;
  font-size: 1.2em;
  color: inherit;
  background: transparent;
  box-shadow: 0px 0px 2px white;
  transform: translateY(-50em);
  transition: .5s ease-in-out;
}

.report-wrapper .report-wrapper-c.peekaboo {
  transform: none;
}

.report-wrapper form {
  width: 35%;
  max-height: 100%;
  box-shadow: 0px 0px 2px white;
  background: linear-gradient(to bottom right, rgb(0,0,0), rgb(10, 10, 10), black);
  text-align: center;
  font-family: poppins-l;
  font-size: 14px;
  overflow: auto;
  border-radius: 10px;
  display: none;
  opacity: 0;
  position: fixed;
  padding: 0px 0px 20px;
}

.report-wrapper form.form-s {
  display: block;
  opacity: 1;
}

.report-wrapper form.form-s.slideFromRight {
  animation: slideFromRight .5s ease-in-out 1;
}

.report-wrapper form.form-s.slideToRight {
  animation: slideToRight .5s ease-in-out 1;
}

.report-wrapper .subject {
  width: 90%;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.report-wrapper .subject h4 {
  width: auto;
  font-size: 16px;
  font-family: poppins-b;
  margin-right: 10px;
}

.report-wrapper .subject select {
  padding: 5px 10px;
  border-radius: 5px;
  font-family: poppins-b;
  text-transform: uppercase;
  background: rgb(18, 124, 41);
  color: inherit;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.report-wrapper .subject select:focus {
  border-radius: 5px 5px 0px 0px;
}

.report-wrapper .subject select option {
  display: block;
}

.report-wrapper h2 {
  padding: 20px 0px;
}

.report-wrapper p {
  width: 90%;
  margin: auto;
  padding: 0px 0px 20px;
  line-height: 160%;
}

.report-wrapper form input,
.report-wrapper form textarea {
  padding: 10px 15px;
  margin: 10px 0px;
  border-radius: 10px;
  width: 90%;
  background: rgb(44, 44, 44);
  color: inherit;
  box-shadow: 0px 0px 2px white;
  letter-spacing: .5px;
}

.report-wrapper form input[type=email] {
  text-transform: lowercase;
}

.report-wrapper form input[type=email]::placeholder {
  text-transform: initial;
}

.report-wrapper form input.hide {
  display: none;
}

.report-wrapper form .gName-wrapper {
  position: relative;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.report-wrapper form .gName-wrapper .gNameResult {
  position: absolute;
  bottom: 0;
  margin-bottom: -33px;
  width: 90%;
  padding: 15px 0px;
  border-radius: 0px 0px 10px 10px;
  background: rgb(27, 27, 27);
  color: inherit;
  cursor: pointer;
  display: none;
}

.report-wrapper form .gName-wrapper .gNameResult.gNameResult-s {
  display: block;
}

.report-wrapper form .gName-wrapper .gNameResult.gNameResult-s:focus {
  background: rgb(14, 14, 14);
  box-shadow: 0px 0px 1px rgb(255, 255, 255);
}

.report-wrapper form .submit {
  background: rgb(18, 124, 41);
  padding: 10px 0px;
  color: inherit;
  box-shadow: none;
  cursor: pointer;
}

.report-wrapper form textarea {
  resize: none;
  height: 100px;
  padding: 10px;
  word-break:break-all;
}

.report-wrapper form input::placeholder,
.report-wrapper form textarea::placeholder {
  text-align: center;
  color: rgb(122, 122, 122);
}

.report-wrapper form input.fred::placeholder {
  color: rgb(255, 10, 10);
}

/** Validation Colors **/

.report-wrapper form input.green {
  box-shadow: 0px 0px 3px rgb(48, 255, 58);
}

.report-wrapper form input.red {
  box-shadow: 0px 0px 3px rgb(255, 48, 48);
}

.report-wrapper form input.orange {
  box-shadow: 0px 0px 3px rgb(255, 165, 48);
}

header {
  width: 100%;
  height: auto;
}

header h1 {
  text-align: center;
  padding: 30px;
  font-family: poppins-b;
}

header a {
  color: rgb(21, 5, 255);
  text-decoration: underline;
}

header ul {
  text-align: center;
}

header ul li:nth-child(1) h3,
header ul li:nth-child(2) h3,
header ul li:nth-child(5) h3 {
  padding-top: 15px;
}

header ul li:nth-child(1) p,
header ul li:nth-child(2) p,
header ul li:nth-child(5) p {
  padding-bottom: 15px;
}

header ul li {
  margin: 25px auto;
  width: 95%;
  box-shadow: -1px 1px 4px rgb(158, 158, 158);
  border-radius: 5px;
  background: rgb(126, 16, 16);
  color: white;
  padding: 0px;
}

header ul li .how1,
header ul li .how2,
header ul li .how3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgb(255, 255, 255);
}

header ul li .how1 img,
header ul li .how2 img,
header ul li .how3 img {
  border-radius: 5px;
  margin: 20px 0px;
  box-shadow: -1px 1px 4px rgb(160, 160, 160);
}

header ul li .how1 img,
header ul li .how3 img {
  width: 45%;
}

header ul li .how2 img {
  width: 23%;
}

header ul li:nth-child(3),
header ul li:nth-child(4),
header ul li:nth-child(6) {
  padding: 15px 0px;
}

footer {
  width: 100%;
  height: 3.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/** Games Section **/

section {
  width: 100%;
  height: auto;
}

section ul {
  width: 100%;
  height: auto;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

section ul li a {
  display: block;
  padding: 5px;
}

section .games-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 0px;
}

section .games-wrapper .boxes {
  width: 250px;
  height: auto;
  box-shadow: 0px 0px 3px black;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 10px;
  transition: .2s ease-in-out;
  position: relative;
}

section .games-wrapper .boxes img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

section .games-wrapper .boxes hr {
  width: 100%;
  background: rgb(119, 119, 119);
  height: 1px;
}

section .games-wrapper ul {
  margin: 0px;
  padding: 0px;
  display: block;
}

section .games-wrapper ul li h4 {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .games-wrapper ul li {
  text-align: center;
  margin: 5px 0px;
}

section .games-wrapper ul li button {
  padding: 10px 0px;
  background: linear-gradient(to bottom right, rgb(53, 53, 53), black, rgb(41, 41, 41));
  color: white;
  border-radius: 10px;
  width: 60%;
  margin: 10px 0px auto;
  font-size: 16px;
  box-shadow: 0px 0px 2px rgb(44, 44, 44);
  cursor: pointer;
}

/** Result Section **/

.search-box-result {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  margin: auto;
  background: rgba(0, 0, 0, 0.952);
  transform: translateX(100em);
  transition: .5s ease-in-out;
  overflow: auto;
  z-index: 1;
}

.search-box-result.show {
  transform: none;
}

.search-box-result h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
  margin-bottom: 30px;
  color: white;
  font-family: poppins-b;
  border-bottom: 1px solid white;
  position: relative;
}

.search-box-result .search-box-result-wrapper {
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}

.search-box-result .search-box-result-wrapper .boxes {
  padding: 5px;
  border-radius: 10px;
  margin: 0% 1% 3% 1%;
  border: 1px solid white;
  background: black;
  color: white;
  cursor: pointer;
  width: 20%;
  transition: .15s ease-in-out;
}

.search-box-result .search-box-result-wrapper .boxes ul {
  display: block;
}

.search-box-result .search-box-result-wrapper .boxes ul li {
  display: block;
  padding: 5px 0px;
  width: 100%;
}

.search-box-result .search-box-result-wrapper .boxes img {
  border-radius: 10px;
  width: 100%;
}

.search-box-result .search-box-c {
  position: absolute;
  background: linear-gradient(to bottom right, rgb(241, 46, 46), rgb(255, 14, 14), rgb(216, 10, 10));
  box-shadow: 0px 0px 5px rgb(240, 73, 73);
  font-size: 1em;
  right: 0;
  margin-right: 40px;
  color: inherit;
  cursor: pointer;
  transition: .5s ease-in-out;
  transform: translateY(-100em);
  font-family: poppins-b;
  padding: 10px 20px;
  border-radius: 100px;
}

.search-box-result .search-box-c.peekaboo {
  transform: none;
}

/** Preview Image Section **/

.preview-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.995);
  color: white;
  z-index: 5;
  display: none;
}

.preview-image.slideFromRight {
  display: flex;
  animation: slideFromRight .5s ease-in-out 1;
}

.preview-image.slideFromRight.slideToRight {
  animation: slideToRight .5s ease-in-out 1;
}

.preview-image .cols-3:nth-child(even) {
  width: 75%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.preview-image .cols-3:nth-child(even) .preview-image-c {
  position: absolute;
  background: rgba(3, 3, 3, 0.651);
  margin-left: calc(75% / 2);
  color: inherit;
  margin-top: 50px;
  cursor: pointer;
  transform: translateY(-100em);
  transition: .5s ease-in-out;
  box-shadow: 0px 0px 2px white;
  font-family: poppins-b;
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 1.2em;
}

.preview-image .cols-3:nth-child(even) .preview-image-c.peekaboo {
  transform: none;
}

.preview-image .cols-3:nth-child(even) img {
  border: 1px solid rgb(255, 255, 255);
  opacity: 0;
}

.preview-image .cols-3:nth-child(even) img.opacity {
  opacity: 1;
}

.preview-image .cols-3:nth-child(odd) {
  width: 10%;
  text-align: center;
}

.preview-image .cols-3:nth-child(odd) button {
  cursor: pointer;
  font-size: 2.5em;
  font-family: poppins-b;
  background: transparent;
  border-radius: 20px;
  padding: 15px 20px;
  display: block;
  margin: auto;
  color: inherit;
}

.preview-image .cols-2:nth-child(odd) {
  width: 100%;
  height: 70vh;
  text-align: center;
}

.preview-image .cols-2:nth-child(odd) img {
  width: 80%;
  border-radius: 10px;
  transition: 1s ease-in-out;
}

.preview-image .cols-2:nth-child(even) {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.preview-image .cols-2:nth-child(even) img {
  width: 20%;
  cursor: pointer;
}

.preview-image .cols-2:nth-child(even) img.selected {
  border: 2px solid rgb(50, 231, 50);
  transform: scale(.95);
  border-radius: 10px;
}

.game-detail {
  width: 90%;
  height: 90%;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  background: rgba(0, 0, 0, 0.952);
  top: 5%;
  left: 5%;
  overflow: auto;
  border-radius: 10px;
  z-index: 1;
}

.game-detail.game-detail-s {
  display: flex;
  animation: descend .5s ease-in-out 1;
}

.game-detail.game-detail-s.game-detail-c {
  animation: ascend .5s ease-in-out 1;
}

.game-detail .cols-2 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.game-detail .cols-2 button {
  font-size: 26px;
  background: transparent;
  color: inherit;
  margin-bottom: 20px;
  background: linear-gradient(to bottom right, rgb(255, 121, 121), rgb(255, 0, 0), rgb(255, 75, 75));
  box-shadow: 0px 0px 5px rgb(189, 63, 63);
  border-radius: 10px;
  padding: 0px 20px;
  font-weight: bold;
  align-self: flex-end;
}

.game-detail .cols-2:nth-child(2) {
  height: auto;
}

.game-detail .cols-2 img {
  width: 60%;
  border-radius: 15px;
  box-shadow: 0px 0px 2px white;
  opacity: 0;
  transition: .3s ease-in-out;
}

.game-detail .cols-2 img.opacity {
  opacity: 1;
}

.game-detail .cols-2 .game-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
}

.game-detail .cols-2 .game-images img {
  width: 24%;
  margin: 0px 1px;
  border-radius: 0px;
}

.game-detail .cols-2 summary {
  margin: 10px 0px;
}

.game-detail .cols-2 table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background: black;
}

.game-detail .cols-2 table tr {
  box-shadow: 0px 0px 2px rgb(182, 182, 182);
}

.game-detail .cols-2 table td {
  padding: 15px 0px;
  box-shadow: -1px 0px 1px rgb(94, 94, 94);
}

.game-detail .cols-2 table td a,
.game-detail .cols-2 table td .donate {
  background: linear-gradient(to bottom right, rgb(71, 253, 71), green, rgb(24, 248, 24));
  color: inherit;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(41, 114, 41);
  margin: 0px 10px;
}

.game-detail .cols-2 table td .donate {
  background: linear-gradient(to bottom right, rgb(83, 83, 252),blue,rgb(34, 34, 243));
  box-shadow: 0px 0px 5px rgb(31, 44, 109);
  font-size: 16px;
  font-family: poppins-r;
}

footer {
  width: 100%;
  height: 4em;
  box-shadow: 0px 0px 5px rgb(158, 158, 158);
  background: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .links {
  height: 3em;
  width: 60%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .links .link-icons {
  width: 2em;
  height: 2em;
  margin: 0px 20px;
}

footer .links .facebook {
  display: block;
  background: url(icons/fb-b.png) no-repeat center;
  background-size: contain;
}
footer .links .github {
  display: block;
  background: url(icons/github-b.png) no-repeat center;
  background-size: contain;
}

/** Dark Mode **/

nav.dark-mode,
body.dark-mode,
footer.dark-mode
{
  background: black;
  color: white;
}
nav.dark-mode,
footer.dark-mode {
  box-shadow: 0px 0px 2px rgb(116, 116, 116);
  background: linear-gradient(to bottom right, rgb(3, 3, 3), rgb(5, 5, 5), rgb(3, 3, 3));
}

nav.dark-mode .search-wrapper button {
  background: url(icons/search-icon-w.png) no-repeat center;
  background-size: contain;
}
nav.dark-mode .search-wrapper input {
  color: white;
}
nav.dark-mode .controller-icon {
  content: url(icons/controller-icon-w.png);
}
nav.dark-mode .warning-icon {
  content: url(icons/warning-icon-w.png);
}
nav.dark-mode .search-wrapper,
nav.dark-mode .a1 {
  box-shadow: 0px 0px 2px white;
}

nav .color-scheme.dark-mode {
  background: url(icons/moon-icon.png) no-repeat center;
  background-size: contain;
}

body.dark-mode {
  background: linear-gradient(to bottom right, rgb(5, 5, 5), rgb(7, 7, 7), rgb(5, 5, 5));
  color: rgb(155, 154, 154)
}
body.dark-mode header h1 {
  color: rgb(255, 255, 255);
}
body.dark-mode header h3 {
  color: rgb(221, 221, 221);
}
body.dark-mode header ul li {
  color: rgb(199, 199, 199);
}
body.dark-mode header a {
  color: rgb(13, 98, 255);
  text-decoration: underline;
}

header.dark-mode ul li {
  box-shadow: 0px 0px 2px rgb(124, 124, 124);
  background: linear-gradient(to bottom right, rgb(8, 8, 8), rgb(14, 14, 14), rgb(2, 2, 2));
}

header.dark-mode ul li .how1,
header.dark-mode ul li .how2,
header.dark-mode ul li .how3 {
  background: #ffffffef;
}

footer.dark-mode .facebook {
  content: url(icons/fb-w.png);
}
footer.dark-mode .github {
  content: url(icons/github-w.png);
}

section .games-wrapper .boxes.dark-mode,
nav .search-list.dark-mode,
.game-detail.dark-mode {
  box-shadow: 0px 0px 2px rgb(146, 146, 146);
}

section .games-wrapper .boxes.dark-mode {
  background: linear-gradient(to bottom right, rgb(3, 3, 3), rgb(8, 8, 8), rgb(3, 3, 3));
  color: white;
}




} /** End Of 1366px**/